# .gitignore
# .NET
[Bb]in
[Oo]bj
[Ll]og
[Pp]ackage
[Tt]mp
_UpgradeReport_
[Aa]ppData
[Ll]ocal
[Ss]tartup
[Uu]ser
[Vv]ariables
[Xx]ml
[Dd]ebug
[Rr]elease
[Nn]etstandard..*
[Tt]est[Rr]esult*
[Uu]nit[Tt]est
[Bb]uild
[Oo]ut
[Aa]ssemblies
[Aa]rchive
[Pp]ublish
[Tt]rash
[Ii]nclude
[Pp]ublishTmp
[Bb]rowserLink
[Cc]ache
[Cc]ompiler
[Cc]odeAnalysis
[Cc]odeCoverage
[Cc]odeGen
[Cc]sc
[Ee]numerationCache
[Ff]eedback
[Ff]iles
[Ff]onts
[Gg]enerated
[Hh]elp
[Ii]nternal
[Ll]og[Gg]
[Mm]odelMetadata
[Nn]ativeImages
[Pp]ersistence
[Pp]recompiledWeb
[Pp]rofiling
[Pp]rojectTemplates
[Ss]criptCoverage
[Ss]erviceFabric
[Ss]ervicemonitor
[Ss]ources
[Tt]estResults
[Tt]oolCaches
[Vv]isualStudio
[Vv]s
[Xx]mlTransform

# NuGet
*.nupkg
*.nuspec

# Build
*.build.csdef
*.dll
*.dll.config
*.exe
*.pdb
*.cache
*.log
*.suo
*.user
*.pidb
*.log
*.tlog
*.vspscc
*.vssscc
.